.main-content-container{
    align-content: center;
}

.main-content-container2 {
    border-radius: 15px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 30px;

    padding-left: 25px;
    padding-right: 25px;
    width: 600px;
    background: rgba(0, 0, 0, 0.7);
}

.content-container{
    float: center;
    
}

p{
    color:white;
}

h3 {
    padding-top: 25px;
    color: white;
    opacity: 1.0;
}

a {
    color: white;
    
}

a:hover {
    color: cornflowerblue;

}


ul .content {
    list-style-type: none;
    display: inline-block;
    padding-top: 30px;
    padding-right: 30px;
    overflow: hidden;
}

li .content {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
   
}